{% extends 'base.html' %}

{% block content %}

    <div class="content">

        <p><em><strong>I'm a Duke fan.  The rest of this About Me is largely hipster ipsum,
        but my allegiance to the team is real.</strong></em></p>

        <p> Tumblr yr skateboard scenester, stumptown ennui thundercats pickled kale chips sustainable man braid XOXO echo park kickstarter. Man braid echo park banjo, sustainable truffaut lumbersexual keytar heirloom. Truffaut venmo marfa portland godard, flannel chicharrones synth. Slow-carb humblebrag occupy, pour-over franzen shoreditch truffaut selfies bespoke quinoa yr letterpress. Migas marfa occupy pug, knausgaard put a bird on it whatever twee actually banjo 90's four dollar toast celiac lomo fingerstache. Photo booth crucifix art party, waistcoat fashion axe pinterest forage banh mi ugh echo park. Tacos taxidermy marfa food truck, slow-carb mixtape squid kale chips everyday carry ethical sartorial.</p>

        <p>Chia swag offal, man bun gochujang church-key paleo drinking vinegar try-hard jean shorts humblebrag kitsch before they sold out fanny pack viral. Tumblr actually austin letterpress irony gochujang, williamsburg sriracha gluten-free tilde brooklyn green juice crucifix retro. Schlitz four dollar toast leggings, whatever post-ironic butcher biodiesel narwhal craft beer. Mustache farm-to-table man bun trust fund +1. Franzen ugh ennui sartorial gentrify pug. Raw denim street art you probably haven't heard of them, chillwave authentic yr taxidermy bitters. Aesthetic portland bushwick yr VHS.</p>

        <p>Farm-to-table flexitarian cornhole, microdosing whatever chambray typewriter vice hammock. Bicycle rights pickled man bun dreamcatcher vinyl williamsburg, neutra hoodie pug chillwave keytar. Cred deep v master cleanse, asymmetrical biodiesel truffaut yuccie scenester mustache man bun. Pickled waistcoat wayfarers, viral austin thundercats jean shorts crucifix cliche selvage gastropub PBR&B meh +1. YOLO man braid trust fund pug shoreditch. Small batch photo booth franzen, dreamcatcher distillery you probably haven't heard of them chartreuse neutra keffiyeh try-hard pabst. Drinking vinegar trust fund jean shorts food truck, sriracha taxidermy umami thundercats small batch ugh tote bag affogato tacos.</p>

        <p>Four dollar toast mustache normcore sriracha YOLO. Four loko retro yuccie bitters. Tilde kale chips tote bag, bespoke godard YOLO crucifix forage irony echo park brooklyn. Gluten-free synth brunch, listicle whatever lo-fi mumblecore ugh squid celiac thundercats organic chicharrones. Ugh yuccie kickstarter, jean shorts 8-bit blue bottle normcore neutra migas direct trade artisan dreamcatcher four dollar toast marfa chartreuse. Mlkshk plaid humblebrag, cray next level meh ramps heirloom kinfolk waistcoat intelligentsia sriracha echo park messenger bag gochujang. Quinoa banh mi tacos, helvetica before they sold out four dollar toast roof party 90's bushwick shabby chic craft beer put a bird on it pitchfork yr single-origin coffee.</p>

    </div>
{% endblock %}
